<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body></body>
    <h1>{{m1}}</h1>
    <h1>{{m2}}</h1>

    <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Title : </p><input type="text" name="title" id="">
        <br><br>
        <p>Description : </p><textarea id="" name="description" rows="4" cols="50"></textarea>
        <br><br>
        {{ form.as_p }}
        <br>
        <input type="submit" value="Submit">
    </form>  

    <form action="{% url 'index' %}" method="get">
        <br><br>
        <input type="submit" value="Click to go back to To do List">
    </form>
</body>
</html>