<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        <h4>
            {{ message }}
        </h4>
        {% endfor %}
    {% endif %}
    <form action="{% url 'signup' %}" method="get">
        <input type="submit" value="CLICK HERE TO SIGN UP">
    </form>
    <br>
    <h1>Login</h1>
    <br/>
    <form action="" method=POST>
		{% csrf_token %}
        <label for="Input" class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
        <br><br>
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
        <br><br>
        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
    
</body>
</html>